:global(#root) {
  min-height: 100vh;
  margin: 20px 40px;
  display: grid;
  grid-template-columns: 0.15fr 0.6fr 0.25fr;
  grid-template-rows: 10vh 1fr 10vh;
  grid-column-gap: 30px;

  header {
    grid-column: 1/-1;
    justify-content: center;
    align-items: center;
  }
  footer {
    grid-column: 1/-1;
    align-self: center;
    text-align: center;
  }
}

.menu { grid-column: 1; }

.rightSideBar {
  grid-column: 3;
  form {
    margin-top: 50px;
    button {
      margin-top: 10px;
    }
  }
}
